<!DOCTYPE html>
<html>
  <head>
    <title>Payment Success</title>
    <!-- Tambahkan stylesheet atau link ke file CSS yang diperlukan untuk tampilan halaman -->
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <h1>Payment Successful</h1>

    <p>Thank you for your payment!</p>
    <!-- Tambahkan informasi atau pesan lain yang ingin ditampilkan -->

    <!-- Tambahkan JavaScript atau skrip lain yang diperlukan untuk interaksi pengguna -->

    <!-- Tambahkan script atau link ke file JavaScript yang diperlukan -->
    <script src="static/js/script.js"></script>
  </body>
</html>
