{% extends 'base.html' %} {% block title %}Search Result | Wedding Organizer{% endblock %} {% block content %}
<!-- Search box start -->
<div class="sub-banner overview-bgi">
  <div class="container breadcrumb-area">
    <div class="breadcrumb-areas">
      <h1>Search</h1>
      <ul class="breadcrumbs">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="active">Search</li>
        <div class="search-box-3 sb-7 bg-active">
          <div class="container">
            <div class="search-area-inner">
              <div class="search-contents">
                <form method="GET" action="{% url 'search' %}">
                  <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                      <div class="form-group">
                        <select class="selectpicker search-fields" name="wedding">
                          <option selected="selected" disabled="disabled">Select Wedding</option>
                          {% for wedding_item in wedding_search %}
                          <option value="{{ wedding_item }}">{{ wedding_item }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                      <div class="form-group">
                        <select class="selectpicker search-fields" name="waktu_pemasangan">
                          <option selected="selected" disabled="disabled">Select Waktu Pemasangan</option>
                          {% for waktu_item in waktu_search %}
                          <option value="{{ waktu_item }}">{{ waktu_item }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                      <div class="form-group">
                        <select class="selectpicker search-fields" name="catering_pack">
                          <option selected="selected" disabled="disabled">Select Catering Pack</option>
                          {% for catering_item in catering_search %}
                          <option value="{{ catering_item }}">{{ catering_item }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                      <div class="form-group">
                        <div class="range-slider">
                          <div data-min="0" data-max="150000" data-unit=",-" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                      <div class="form-group">
                        <input type="text" class="form-control" name="keyword" placeholder="Keyword" />
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                      <div class="form-group">
                        <button class="btn btn-block button-theme btn-md" type="submit"><i class="fa fa-search"></i> Search</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Search box end -->

        <!-- Search results start -->
        <div class="search-results content-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="main-title">
                  <h1>Your Search Result</h1>
                </div>
              </div>
            </div>
            <div class="row">
              {% if weddings %} {% for wedding in weddings %}
              <div class="col-lg-6 col-md-6">
                <div class="property-box">
                  <div class="property-thumbnail">
                    <a href="{% url 'wedding_detail' wedding.id %}">
                      <img class="d-block w-100" src="{{ wedding.wedding_photo.url }}" alt="{{ wedding.wedding_title }}" />
                    </a>
                  </div>
                  <div class="detail">
                    <h5 class="title"><a href="{% url 'wedding_detail' wedding.id %}">{{ wedding.wedding_title }}</a></h5>
                    <span class="location"><i class="fa fa-map-marker"></i> {{ wedding.kota }}, {{ wedding.provinsi }}</span>
                    <span class="price">{{ wedding.price }}</span>
                    <div class="footer">
                      <a href="{% url 'wedding_detail' wedding.id %}" class="btn btn-sm btn-info">View Details</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %} {% else %}
              <div class="col-lg-12">
                <div class="alert alert-info" role="alert">No wedding found matching your search criteria.</div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- Search results end -->
        {% endblock %}
      </ul>
    </div>
  </div>
</div>
