<!-- Footer start -->
<!-- Log on to codeastro.com for more projects -->
<footer class="footer">
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <p class="copy">© {% now 'Y' %} - Siwedo Website in Django</p>
        </div>
        <div class="col-lg-4">
          <div class="social-list-2">
            <ul>
              <li>
                <a href="https://www.facebook.com/profile.php?id=100070980522733" target="_blank" class="facebook-bg"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                {% comment %} <a href="https://codeastro.com/" target="_blank" class="twitter-bg"><i class="fa fa-twitter"></i></a> {% endcomment %}
              </li>
              <li>
                <a href="stevenazkamunira@gmail.com/" target="_blank" class="google-bg"><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                {% comment %} <a href="https://codeastro.com/" target="_blank" class="linkedin-bg"><i class="fa fa-linkedin"></i></a> {% endcomment %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer end -->
